awkward==2.2.0
awkward-cpp==15
awkward-pandas==2022.12a1
hist==2.6.3
notebook==6.5.4
numba==0.57.0
hist==2.6.3
numpy==1.24.1
mplhep==0.3.28
dask==2023.5.1
dask-awkward==2023.5.1
distributed==2023.5.1
subprocess32==3.5.4
tabulate==0.9.0
PyYAML==6.0
xgboost==1.7.5
uproot==5.0.7
uproot4==4.0.0
snakeviz==2.2.0
pandas==2.0.1
typer[all]