absl-py==0.2.2
appdirs==1.4.3
astor==0.7.1
avro==1.8.2
backports-abc==0.5
backports.lzma==0.0.11
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
backports.weakref==1.0.post1
bleach==1.5.0
Bottleneck==1.2.1
certifi==2018.4.16
chardet==3.0.4
click==6.7
climate==0.4.6
configparser==3.5.0
cycler==0.10.0
Cython==0.28.3
decorator==4.2.1
deepdish==0.3.6
docopt==0.6.2
downhill==0.4.0
dxr==0.1
entrypoints==0.2.3
enum34==1.1.6
fs==2.0.23
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
futures==3.2.0
gast==0.2.0
google-common==0.0.1
grpcio==1.13.0
h5py==2.8.0rc1
hep-ml==0.5.0
histbook==1.2.0
histogrammar==1.0.9
html5lib==0.9999999
hyperas==0.4
hyperopt==0.1
ipykernel==4.8.2
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.1.2
Jinja2==2.10
jsonpickle==0.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.1.4
llvmlite==0.23.2
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==1.5.2
mistune==0.8.3
mock==2.0.0
mpmath==1.0.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
nose==1.3.7
notebook==5.4.0
numba==0+unknown
numexpr==2.6.4
numpy==1.14.1
oamap==0.12.2
ordereddict==1.1
packaging==17.1
pandas==0.24.2
pandocfilters==1.4.2
parsimonious==0.8.0
pathlib2==2.3.0
pbr==3.1.1
pexpect==4.6.0
pickleshare==0.7.4
pkgconfig==1.3.1
plac==0.9.6
prettytable==0.7.2
professor==1.4.0
professor2===X.Y.Z
prompt-toolkit==1.0.15
protobuf==3.4.0
prwlock==0.4.0
psutil==5.4.6
ptyprocess==0.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pybind11==2.2.3
pycurl==7.43.0.1
pydablooms==0.9.1
Pygments==2.2.0
pyparsing==2.2.0
pysqlite==2.8.3
pytest==3.4.1
python-cjson==1.2.1
python-dateutil==2.7.3
python-ldap==3.0.0
pytz==2018.4
pyxrootd==4.8.3
PyYAML==3.11
pyzmq==17.0.0
qtconsole==4.3.1
rep==0.6.6
repoze.lru==0.7
root-numpy==4.7.3
root-pandas==0.3.1
rootpy==1.0.1
scandir==1.7
schema==0.6.7
scikit-learn==0.19.1
scipy==1.1.0
seaborn==0.8.1
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
SQLAlchemy==1.1.4
subprocess32==3.5.2
sympy==1.1.1
tables==3.4.2
tensorboard==1.6.0
tensorflow==1.6.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
theanets==0.7.3
Theano==1.0.2
thriftpy==0.3.9
tornado==5.0b1
tqdm==4.23.4
traitlets==4.3.2
uncertainties==3.0.2
uproot==2.8.31
virtualenv==15.1.0
virtualenvwrapper==4.8.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.1.4
xgboost==0.72
xrootdpyfs==0.1.5
